<body>
    <h2>Zgłoś awarię:</h2>
    <form id="report-damage-form" (ngSubmit)="reportDamage()" #reportDamageForm="ngForm">
        <div class="form-group">
            <label>Produkt:</label><br>
            <select class="form-control" [(ngModel)]="damage.productId" [ngModelOptions]="{standalone: true}" required>
                <option *ngFor="let product of products | async" [value]="product.id">
                    {{product.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="comment">Komentarz</label>
            <input type="text" class="form-control" id="comment" name="comment" [(ngModel)]="damage.comment"
                #comment="ngModel" placeholder="Dodaj komentarz">
        </div>
        <button type="submit" class="btn btn-primary">Zgłoś</button>
    </form>
</body>