.single-damage{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    border: 3px solid black;
    width: max-content;
}
.solved{
    background-color: greenyellow
}
.unsolved{
    background-color: red
}